.stats__header {
  @include bottom-gutter(25px);
}

.stats--container {
  border-right: 1px solid #efefef;
  position: relative;
  max-height: 25vh;
  height: 22vh;

  @include media(mobile) {
    text-align: center;
  }

  .stats__data {
    color: $primaryColor;
    @include media(desktop) {
      margin-top: 7px;
    }
  }

  .stats__subscript {
    @include font-size(12px, 14px);
    @include bottom-gutter(25px);
  }

  &:hover {
    .stats__description {
      &:after {
        height: 0%;
      }
    }
  }

  &:last-child {
    border-right: 0;
  }

  &.block-size--container {
    @include media(mobile-tablet) {
      border-right: none;
    }
  }

  .stats__data {
    font-weight: $semi-bold;

    &.stats--price {
      &:before {
        content: "$";
      }
    }

    &.stats--mb {
      &:after {
        content: " MB";
        @include font-size(18px, 10px);
      }
    }

    &.stats--byte {
      &:after {
        content: "\00a0" + "bytes"; // needed to get something like &nbsp here, which would break the styling and go on to the next line and it'll look uuuugly
        @include font-size(18px, 10px);
      }
    }
  }

  .stats-description__foreground {
    background: $white;
    position: absolute;
  }

  .stats-description--container {
    position: relative;
  }

  .stats__description {
    background-color: $primaryColor;
    color: $white;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    font-size: 10px;
    width: 100%;
    transition: all 0.3s $cubicBezier;

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      top: -25px;
      bottom: auto;
      border: 15px solid;
      border-color: transparent transparent #074a7a transparent;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include media(tablet-desktop){
        right: auto;
        left: 7px;
      }
    }

    &:after {
      content: '';
      background: $sectionColor !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s $cubicBezier;
    }
  }
}
